{% extends "layout.html" %}
{% block title %}Harvested{% endblock %}
{% block content %}
<div class="grid place-items-center">
    <div class="card mt-40 bg-neutral shadow-xl">
        <div class="card-body text-center">
            <h1 class=" text-4xl font-bold pb-3">You've been</br>harvested!</h1>
            <p class="pt-6">Your soul has been harvested by <em>{{ username }}</em>.</p>
            <p class="py-2">You won't ever get it back...</p>
            <p class="pb-12">But you can at least harvest other people's souls.</p>
            <flex>
                <button class="btn btn-secondary" onclick="window.location.href='/';">Join the harvest</button>
            </flex>
        </div>
    </div>
</div>
{% endblock %}
